@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ebebeb !important;
  margin: 0; /* remove default margin */
  scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
  -ms-overflow-style: none; /* Disable scrollbar IE 10+ */
  overflow-y: scroll;
}
